<!doctype html>
<html>
	<style type="text/css">
		body {font-family: Tahoma, Geneva, sans-serif}
		#main {
			padding: 25px;
			border-left: 15px solid blue;
			margin: 25px;
			background: #DDFFFF
		}
		.piclink{
			margin: 5px;
		}
	</style>

	<body >
	<title>Pictacular V1.2.1</title>
	<div id="main">
	<h1>Pictacular V1.2.1 </h1>
	<p> Upload an image and receive a pictacular mosaic picture below!</p>
	<form id="file-form"  method="POST">
  	<input type="file" id="file-select"/>
  	<button type="submit" id="upload-button">Submit</button>
	</form>
	<br>
	<div id="all_links">
	</div>
	</div>
	</body>

	<script type="text/javascript">
		//Imported Functions
			function b64toBlob(b64Data, contentType, sliceSize) {
			  contentType = contentType || '';
			  sliceSize = sliceSize || 512;
			  var byteCharacters = atob(b64Data);
			  var byteArrays = [];
			  for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
			    var slice = byteCharacters.slice(offset, offset + sliceSize);
			    var byteNumbers = new Array(slice.length);
			    for (var i = 0; i < slice.length; i++) {
			      byteNumbers[i] = slice.charCodeAt(i);
			    }
			    var byteArray = new Uint8Array(byteNumbers);
			    byteArrays.push(byteArray);
			  }    
			  var blob = new Blob(byteArrays, {type: contentType});
			  return blob;
			}
		//
		var form = document.getElementById('file-form');
		var fileSelect = document.getElementById('file-select');
		var pic_num = 1;
		form.onsubmit = function(event) {
		  event.preventDefault();
		  var data = new FormData();
		  var file = fileSelect.files[0];
		  data.append("file",file,file.name)
		  //Send upload
		  var req = new XMLHttpRequest();
		  req.open("POST","/upload", true);
		  req.send(data);
		  //Receive new images
		  req.onreadystatechange = function() {
		    if (this.readyState == 4 && this.status == 200) {
		    var all_links = document.getElementById("all_links");
		    var contentType = 'image/png';
		    var b64img = this.responseText;
		    var blob = b64toBlob(b64img, contentType);
		    var blobUrl = URL.createObjectURL(blob);
		 	var pic = document.createElement("A");
		 	pic.setAttribute("href",blobUrl);
		 	pic.setAttribute("download","Pic #"+pic_num.toString()+".png");
		 	pic.innerHTML = "Picture #"+pic_num.toString();
		 	pic_num+=1
		    all_links.appendChild(pic);
		    all_links.appendChild(document.createElement("BR"));
		    	};
		    };
		 };
	</script>
</html>