<!doctype html>
<html>
	<style type="text/css">
		body {font-family: Tahoma, Geneva, sans-serif}
		#main {
			padding: 25px;
			border-left: 15px solid blue;
			margin: 25px;
			background: #DDFFFF
		}
		.piclink{
			margin: 5px;
		}
	</style>

	<body >
	<title>Pictacular V1.2.1</title>
	<div id="main">
	<h1>Pictacular V1.2.1 </h1>
	<p> Upload an image and receive a pictacular mosaic picture below!</p>
	<form id="file-form"  method="POST">
  	<input type="file" id="file-select"/>
  	<button type="submit" id="upload-button">Submit</button>
	</form>
	<br>
	<div id="all_links">
	</div>
	</div>
	</body>

	<script type="text/javascript">
		var form = document.getElementById('file-form');
		var fileSelect = document.getElementById('file-select');
		var pic_num = 1;
		form.onsubmit = function(event) {
		  event.preventDefault();
		  var data = new FormData();
		  var file = fileSelect.files[0];
		  data.append("file",file,file.name)
		  //Send upload
		  var req = new XMLHttpRequest();
		  req.open("POST","/upload", true);
		  req.send(data);
		  //Receive new images
		  req.onreadystatechange = function() {
		    if (this.readyState == 4 && this.status == 200) {
		    var all_links = document.getElementById("all_links");
		    var b64img = this.responseText;
		 	var pic = document.createElement("A");
		 	pic.setAttribute("href","data:image/png;base64,"+b64img);
		 	pic.setAttribute("download","Pic #"+pic_num.toString()+".png");
		 	pic.innerHTML = "Picture #"+pic_num.toString();
		 	pic_num+=1
		    all_links.appendChild(pic);
		    all_links.appendChild(document.createElement("BR"));
		    	};
		    };
		 };
	</script>
</html>